@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html,
body {
  font-family: "Comfortaa", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  background-color: #fff;
  color: #333;
}

h1,
h3,
h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.sub-header {
  color: #146fbe;
}

textarea.form-control,
textarea.form-control:focus,
textarea.form-control[readonly] {
  background-color: #222831;
  border: 1px solid #fb3;
  color: #fb3;
  outline: none;
}

.btn-primary:disabled {
  cursor: not-allowed;
}

a {
  color: #146fbe;
  cursor: pointer;
}

a:hover {
  color: #146fbe;
}

footer {
  font-size: 12px;
}
