@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html,
body {
  font-family: "Comfortaa";
  background-color: #FFF;
  color: #333;
}

h1,
h3,
h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.sub-header {
  color: #146FBE;
}

textarea.form-control,
textarea.form-control:focus,
textarea.form-control[readonly] {
  background-color: #222831;
  border: 1px solid #FB3;
  color: #FB3;
  outline: none;
}

.btn-primary:disabled {
  cursor: not-allowed;
}

a {
  color: #146FBE;
  cursor: pointer;
}

a:hover {
  color: #146FBE;
}

footer {
  font-size: 12px;
}
